/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #181c32;
    color: #f8f8f2;
    transition: background-color 0.5s ease-in-out; /* Smooth background transition */
}

.subheadline {
    font-size: 18px;
    margin-bottom: 10px;
    color: #cfd8dc;
}

.navbar {
    background-color: #181c32 !important;
    transition: all 0.3s ease-in-out; /* Smooth navbar transition */
}

.navbar-brand {
    color: #ffffff;
    font-size: xx-large;
}

.nav-pills .nav-link {
    color: #ffffff;
    margin-right: 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-pills .nav-link.active {
    background-color: #1665d8;
    color: #ffffff;
}

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.btn-primary, .btn-secondary {
    background-color: #1665d8;
    border-color: #1665d8;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: #f8f8f2;
    color: #181c32;
}

.btn-primary:hover {
    background-color: #f8f8f2;
    color: #181c32;
}

.display-4 {
    color: #ffffff;
    animation: fadeIn 2s ease-in-out;
}

.card {
    background-color: #1f2136;
    border: none;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #ffffff;
}

.card-text {
    color: #cfd8dc;
}

.text-light {
    color: #ffffff !important;
}

.text-muted {
    color: #cfd8dc !important;
}

#footer {
    color: #cfd8dc;
    padding: 20px 0;
}

.section-title {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.section-subtitle {
    color: #cfd8dc;
}

.home, .features-section, .contact-section, .faq-section {
    padding: 50px 0;
}

.contact-form .form-control {
    border-radius: 5px;
    background-color: #1f2136;
    color: #ffffff;
    border: none;
}

.accordion-button {
    background-color: #1f2136;
    color: #ffffff;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #1665d8;
}

.accordion-item {
    border: none;
}

.accordion-body {
    background-color: #181c32;
    color: #cfd8dc;
}

/* Define keyframes for the animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  /* Apply the animation to the class */
  .animated-image {
    animation: fadeIn 1s ease-in-out;
  }
  
