/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #181c32; /* Match background color to the dashboard */
    color: #f8f8f2;
}

.subheadline {
    font-size: 18px;
    margin-bottom: 10px;
    color: #cfd8dc;
}

.navbar {
    background-color: #181c32 !important; /* Dark navbar background */
}

.navbar-brand {
    color: #ffffff; /* White text for brand */
    font-size: xx-large;
}

.nav-pills .nav-link {
    color: #ffffff; /* White text for nav links */
    margin-right: 10px;
}

.nav-pills .nav-link.active {
    background-color: #1665d8; /* Active link background color */
    color: #ffffff; /* Active link text color */
}

.navbar-buttons {
    display: flex;
    gap: 10px; /* Space between buttons */
}

.btn-primary,.btn-secondary {
    background-color: #1665d8;
    border-color: #1665d8;
}



.btn-secondary:hover {
    background-color: #f8f8f2;
    color: #181c32;
}

.display-4 {
    color: #ffffff; /* Headline color */
}

.card {
    background-color: #1f2136; /* Card background color */
    border: none;
}

.card-title {
    color: #ffffff; /* Card title color */
}

.card-text {
    color: #cfd8dc; /* Card text color */
}

.text-light {
    color: #ffffff !important;
}

.text-muted {
    color: #cfd8dc !important;
}

#footer {
    color: #cfd8dc;
}
