/* style.css */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #181c32; /* Match background color to the dashboard */
    color: #f8f8f2;
}

.subheadline {
    font-size: 18px;
    margin-bottom: 10px;
    color: #cfd8dc;
}

.navbar {
    background-color: #181c32 !important; /* Dark navbar background */
}

.navbar-brand {
    color: #ffffff; /* White text for brand */
    font-size: xx-large;
}

.nav-pills .nav-link {
    color: #ffffff; /* White text for nav links */
    margin-right: 10px;
}

.nav-pills .nav-link.active {
    background-color: #1665d8; /* Active link background color */
    color: #ffffff; /* Active link text color */
}

.dropdown {
    position: relative;
}

.dropdown .dropdown-menu {
    display: none;  /* Hide dropdown by default */
    position: absolute;
    top: 100%;  /* Align dropdown menu below the button */
    left: 0;
    margin-top: 0.5rem;
    background-color: #1f2136;  /* Dropdown background color */
    border: none;
    border-radius: 5px;
    z-index: 1000;
    min-width: 100%;  /* Ensure the dropdown matches the button width */
    visibility: hidden; /* Ensure the dropdown is hidden initially */
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease; /* Smooth transition for visibility and opacity */
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
    display: block;  /* Keep dropdown open when hovering over the button or menu */
    visibility: visible;
    opacity: 1; /* Make the dropdown fully visible */
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #1665d8;
}

.btn-primary {
    background-color: #1665d8;
    border-color: #1665d8;
}

.display-4 {
    color: #ffffff; /* Headline color */
}

.card {
    background-color: #1f2136; /* Card background color */
    border: none;
}

.card-title {
    color: #ffffff; /* Card title color */
}

.card-text {
    color: #cfd8dc; /* Card text color */
}

.text-light {
    color: #ffffff !important;
}

.text-muted {
    color: #cfd8dc !important;
}

#footer {
    color: #cfd8dc;
}
